obj/project.assets.json
obj/project.nuget.cache
obj/system-rh-csharp.csproj.nuget.dgspec.json
obj/system-rh-csharp.csproj.nuget.g.props
obj/system-rh-csharp.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/system-rh-csharp.AssemblyInfo.cs
obj/Debug/net7.0/system-rh-csharp.AssemblyInfoInputs.cache
obj/Debug/net7.0/system-rh-csharp.assets.cache
obj/Debug/net7.0/system-rh-csharp.csproj.AssemblyReference.cache
obj/Debug/net7.0/system-rh-csharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/system-rh-csharp.GlobalUsings.g.cs
Properties/launchSettings.json
appsettings.Development.json
appsettings.json
obj/system-rh-csharp.csproj.EntityFrameworkCore.targets
obj/Debug/net7.0/system-rh-csharp.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/system-rh-csharp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/system-rh-csharp.MvcApplicationPartsAssemblyInfo.cache
bin/Debug/net7.0/System.Runtime.Caching.dll
bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.Security.Permissions.dll
bin/Debug/net7.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/system-rh-csharp.csproj.CopyComplete
obj/Debug/net7.0/system-rh-csharp.dll
obj/Debug/net7.0/system-rh-csharp.genruntimeconfig.cache
obj/Debug/net7.0/system-rh-csharp.pdb
obj/Debug/net7.0/ref/system-rh-csharp.dll
obj/Debug/net7.0/refint/system-rh-csharp.dll
obj/Debug/net7.0/staticwebassets/msbuild.build.system-rh-csharp.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.system-rh-csharp.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.system-rh-csharp.props
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net7.0/Microsoft.Identity.Client.dll
bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net7.0/Microsoft.OpenApi.dll
bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/Mono.TextTemplating.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net7.0/system-rh-csharp.deps.json
bin/Debug/net7.0/system-rh-csharp.dll
bin/Debug/net7.0/system-rh-csharp.exe
bin/Debug/net7.0/system-rh-csharp.pdb
bin/Debug/net7.0/system-rh-csharp.runtimeconfig.json
bin/Debug/net7.0/System.CodeDom.dll
bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net7.0/System.Memory.Data.dll
bin/Debug/net7.0/Azure.Core.dll
bin/Debug/net7.0/Azure.Identity.dll
bin/Debug/net7.0/Humanizer.dll
bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
